<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="conexion_hibernate">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/miHotel</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="modelo.Persona" />
        <mapping class="modelo.SubcategoriaProducto" />
        <mapping class="modelo.CategoriaInmueble" />
        <mapping class="modelo.CategoriaProducto" />
        <mapping class="modelo.Habitacion" />
        <mapping class="modelo.Reserva" />
        <mapping class="modelo.Producto" />
        <mapping class="modelo.EstadoTienda" />
        <mapping class="modelo.IncidenteInmueble" />
        <mapping class="modelo.Tienda" />
        <mapping class="modelo.MarcaInmueble" />
        <mapping class="modelo.MarcaProducto" />
        <mapping class="modelo.IncidenteHabitacion" />
        <mapping class="modelo.Login" />
        <mapping class="modelo.InmuebleHabitacion" />
        <mapping class="modelo.EstadoIncidencia" />
        <mapping class="modelo.Inmueble" />
        <mapping class="modelo.EstadoPersona" />
        <mapping class="modelo.EstadoInmueble" />
        <mapping class="modelo.TipoDocumento" />
        <mapping class="modelo.TipoInmueble" />
        <mapping class="modelo.TipoHabitacion" />
        <mapping class="modelo.Rol" />
        <mapping class="modelo.EstadoHabitacion" />
    </session-factory>
</hibernate-configuration>
